@font-face {
    font-family: "liana";
    src: url("liana.eot"); /* IE9 */
    src: url("liana.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("liana.woff") format("woff"), /* chrome、firefox */
    url("liana.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("liana.svg#liana") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
